a:link {
  text-decoration:none;
}
a:visited {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}
a:active {
  text-decoration:none;
}
body {
    background-color: rgb(0, 0, 0);
}
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    min-width: 0px;
    background-color: rgb(0, 0, 0);
    -webkit-user-select: none; 
}
#statusBar {
    height: 32px;
    width: 100%;
    position: fixed;
    background: -webkit-linear-gradient(0deg,rgb(0,0,0) 0%,rgb(86,63,109) 100%);
    z-index: 199;
}
#logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: 1.5em;
    margin-left: 0px;
    padding-left: 0.2em;
    padding-top: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
    position: fixed;
    top: 0.2em;
    left: 0.5em;
    bottom: auto;
    right: auto;
    z-index: 100;
}
#pearlCount {
    float: right;
    font-size: 1.2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin: 8px 2em auto 0px;
    clear: none;
    min-height: 0px;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    z-index: 101;
}
#pearl {
    float: right;
    width: 1.2em;
    max-width: 100%;
    clear: both;
    color: rgb(0, 0, 0);
    margin: -19px 1em 0 0;
    z-index: 102;
}
#screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clear: both;
    overflow: visible;
}
.nebula {
    margin-left: auto;
    margin-top: 32px;
    width: 100%;
    clear: none;
}
.splashfb {
    margin-left: auto;
    margin-top: 30em;
    width: 100%;
    clear: none;
    background-image: url("../img/");
}
.location {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/location.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.myCollectIn {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/collectin.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.discoverPlaces {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-height: 50px;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/discover.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.treasureHunt {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/treasure.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.games {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/games.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.usingCollectin {
    float: none;
    height: 120px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/using.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat no-repeat;
}
.menuText {
    float: left;
    font-size: 1.2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: word-wrap;
    margin-left: 0.5em;
    margin-top: 4.5em;
    clear: none;
    min-height: 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
}
.title {
    float: both;
    width: 100%;
    background: -webkit-linear-gradient(0deg,rgb(0,0,0) 0%,rgb(86,63,109) 100%);
    color: rgb(255, 255, 255);
    font-family: helvetica;
    font-size: 2em;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    clear: none;
}
.imgloc {
        float: both;
        width: 110%;
        max-width: 100%;
        clear: none;
}
.paper {
    float: both;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    clear: none;
}
.papertext {
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-family: helvetica;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}
.papernote {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-family: helvetica;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}
.promo {
    float: both;
    width: 100%;
    background-color: rgb(46, 23, 59);
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: helvetica;
}
.login-button {
  background:url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) no-repeat scroll left -188px #29447e;
  display:inline-block;
  line-height:14px;
  outline:medium none;
  padding:0 0 0 1px
}
.login-button span {
  background:url(https://s-static.ak.fbcdn.net/images/connect_sprite.png) repeat scroll 0 0 #5f78ab;
  border-bottom:1px solid #1a356e;
  border-top:1px solid #879ac0;
  color:#fff;
  cursor:pointer;
  display:block;
  font-size:11px;
  font-weight:bold;
  margin:1px 1px 0 21px;
  padding:2px 6px 3px;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}
.qr {
    float: both;
    width: 100%;
    height: auto;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
/*#map_canvas {
    width: 100%;
    height: 500px;
    background-color: #CCC;
}*/
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 99;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 90;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 91;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 92;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
