<?xml version='1.0' encoding='utf-8'?>
<widget id="com.connectwithromania.collectin" 
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap = "http://phonegap.com/ns/1.0">
		
    <name>Collectin</name>
    
    <description>
        Collectin App
    </description>
    
    <author email="support@connectwithromania.com" href="http://connectwithromania.com">
        Connect with Romania
    </author>
    
    <!-- Icons -->

	<icon src="icon.png" />
	<icon src="icons/ios/icon.png" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" width="114" height="114" />
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/winphone/icon.png" gap:platform="winphone" />
	<!-- winphone requires a jpg for the tile icons -->
	<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />

	<!-- Splash Screens -->
	<gap:splash src="splash.png" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" width="320" height="480"/>
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" width="640" height="960"/>
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" width="768" height="1024"/>
	<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
	
	<!-- Plugins -->
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.vibration" />
	
	<!--HTML Content--> 
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="fullscreen" value="true" />
    <preference name="backgroundColor" value="0x00000000" />
    <preference name="webviewbounce" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="ios-statusbarstyle" value="black-translucent" />
</widget>

