/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    min-width: 0px;
    background-color: rgb(0, 0, 0);
    -webkit-user-select: none;    
}
body {
    color:#000000;
}
#locatie {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.4156451366101637%;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    text-transform: uppercase;
    font-family: helvetica;
}
#descriere {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.4411724700761697%;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
    color: rgb(255, 255, 255);
}
#continut {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 83.32%;
    background-color: rgb(255, 255, 255);
    position: static;
    margin-right: auto;
    padding-bottom: 0px;
}
#imaginelocatie {
    float: left;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(86, 63, 109);
    background-image:url("../img/location.jpg");
    background-attachment: inherit;
    background-size: cover;
    background-position: 0px 50%;
    background-repeat: no-repeat no-repeat;
}
#descrierebox {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: both;
    width: 100%;
    background-color: rgb(86, 63, 109);
    padding-bottom: 10px;
}
#text {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.44%;
    margin-top: 5px;
    clear: none;
    min-height: 0px;
    text-transform: uppercase;
}
#evenimente {
    float: none;
    height: auto;
    margin: 25px auto 0px;
    clear: none;
    width: 100%;
    background-color: rgb(86, 63, 109);
    padding-bottom: 0.5em;
    padding-left: 0px;
}
#evenimentetext {
    float: none;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.44%;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
}
#textspan1 {
    font-style: normal;
    line-height: 1em;
    font-family: helvetica;
}
#promotii {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.44%;
    margin-top: 0.5em;
    clear: none;
    min-height: 0px;
    text-transform: uppercase;
}
#promotii1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 5px;
    clear: both;
    width: 100%;
    background-color: rgb(86, 63, 109);
    padding-bottom: 10px;
}
#promotiitext {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 1.44%;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    margin-right: 0px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0px 3px 3px;
}

@media only screen and (min-width: 235px) {

   #grid .column.grid-0 {
        margin-left: 1.2%;
   }
   #grid .gutter.left.grid-1 {
        margin-left: 5.942857142857143%;
   }
   #grid .gutter.right.grid-1 {
        margin-left: 7.142857142857142%;
   }
   #grid .column.grid-1 {
        margin-left: 8.342857142857143%;
   }
   #grid .gutter.left.grid-2 {
        margin-left: 13.085714285714287%;
   }
   #grid .gutter.right.grid-2 {
        margin-left: 14.285714285714285%;
   }
   #grid .column.grid-2 {
        margin-left: 15.485714285714288%;
   }
   #grid .gutter.left.grid-3 {
        margin-left: 20.228571428571428%;
   }
   #grid .gutter.right.grid-3 {
        margin-left: 21.42857142857143%;
   }
   #grid .column.grid-3 {
        margin-left: 22.628571428571426%;
   }
   #grid .gutter.left.grid-4 {
        margin-left: 27.371428571428574%;
   }
   #grid .gutter.right.grid-4 {
        margin-left: 28.57142857142857%;
   }
   #grid .column.grid-4 {
        margin-left: 29.771428571428572%;
   }
   #grid .gutter.left.grid-5 {
        margin-left: 34.51428571428571%;
   }
   #grid .gutter.right.grid-5 {
        margin-left: 35.71428571428571%;
   }
   #grid .column.grid-5 {
        margin-left: 36.91428571428571%;
   }
   #grid .gutter.left.grid-6 {
        margin-left: 41.65714285714285%;
   }
   #grid .gutter.right.grid-6 {
        margin-left: 42.857142857142854%;
   }
   #grid .column.grid-6 {
        margin-left: 44.05714285714285%;
   }
   #grid .gutter.left.grid-7 {
        margin-left: 48.79999999999999%;
   }
   #grid .gutter.right.grid-7 {
        margin-left: 49.99999999999999%;
   }
   #grid .column.grid-7 {
        margin-left: 51.19999999999999%;
   }
   #grid .gutter.left.grid-8 {
        margin-left: 55.94285714285713%;
   }
   #grid .gutter.right.grid-8 {
        margin-left: 57.14285714285713%;
   }
   #grid .column.grid-8 {
        margin-left: 58.34285714285713%;
   }
   #grid .gutter.left.grid-9 {
        margin-left: 63.08571428571429%;
   }
   #grid .gutter.right.grid-9 {
        margin-left: 64.28571428571428%;
   }
   #grid .column.grid-9 {
        margin-left: 65.4857142857143%;
   }
   #grid .gutter.left.grid-10 {
        margin-left: 70.22857142857143%;
   }
   #grid .gutter.right.grid-10 {
        margin-left: 71.42857142857142%;
   }
   #grid .column.grid-10 {
        margin-left: 72.62857142857143%;
   }
   #grid .gutter.left.grid-11 {
        margin-left: 77.37142857142857%;
   }
   #grid .gutter.right.grid-11 {
        margin-left: 78.57142857142857%;
   }
   #grid .column.grid-11 {
        margin-left: 79.77142857142857%;
   }
   #grid .gutter.left.grid-12 {
        margin-left: 84.5142857142857%;
   }
   #grid .gutter.right.grid-12 {
        margin-left: 85.71428571428571%;
   }
   #grid .column.grid-12 {
        margin-left: 86.91428571428571%;
   }
   #grid .gutter.left.grid-13 {
        margin-left: 91.65714285714284%;
   }
   #grid .gutter.right.grid-13 {
        margin-left: 92.85714285714285%;
   }
   #grid .column.grid-13 {
        margin-left: 94.05714285714285%;
   }
   #grid .column {
        width: 4.742857142857144%;
   }
}
@media only screen and (min-width: 360px) {

   .primaryContainer {
   }
   #promotiitext {
   }
}
@media only screen and (min-width: 480px) {

   .primaryContainer {
   }
   #continut {
        clear: none;
   }
   #text {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        word-wrap: break-word;
        margin-top: 5px;
        clear: none;
        min-height: 0px;
   }
   #imaginelocatie {
        width: 100%;
        height: 200px;
   }
   #descrierebox {
        width: 100%;
   }
   #evenimente {
        clear: none;
        width: 100%;
   }
   #evenimentetext {
        font-size: 1em;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        word-wrap: break-word;
        clear: none;
   }
   #textspan1 {
        float: none;
        font-size: 1em;
        text-transform: none;
   }
   #promotii {
        float: left;
        font-size: 1em;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        word-wrap: break-word;
        clear: none;
   }
}
@media only screen and (min-width: 540px) {

}
@media only screen and (min-width: 854px) {

   #grid .grid-12, #grid .grid-13, #grid .grid-14, #grid .grid-15 {
        display: none;
        visibility: hidden;
   }
   #grid .grid-0, #grid .grid-1, #grid .grid-2, #grid .grid-3, #grid .grid-4, #grid .grid-5, #grid .grid-6, #grid .grid-7, #grid .grid-8, #grid .grid-9, #grid .grid-10, #grid .grid-11 {
        display: block;
        visibility: visible;
   }
   #grid .column.grid-0 {
        margin-left: 1.2%;
   }
   #grid .gutter.left.grid-1 {
        margin-left: 7.133333333333332%;
   }
   #grid .gutter.right.grid-1 {
        margin-left: 8.333333333333332%;
   }
   #grid .column.grid-1 {
        margin-left: 9.533333333333331%;
   }
   #grid .gutter.left.grid-2 {
        margin-left: 15.466666666666665%;
   }
   #grid .gutter.right.grid-2 {
        margin-left: 16.666666666666664%;
   }
   #grid .column.grid-2 {
        margin-left: 17.866666666666664%;
   }
   #grid .gutter.left.grid-3 {
        margin-left: 23.8%;
   }
   #grid .gutter.right.grid-3 {
        margin-left: 25.000000000000007%;
   }
   #grid .column.grid-3 {
        margin-left: 26.2%;
   }
   #grid .gutter.left.grid-4 {
        margin-left: 32.13333333333333%;
   }
   #grid .gutter.right.grid-4 {
        margin-left: 33.33333333333333%;
   }
   #grid .column.grid-4 {
        margin-left: 34.53333333333333%;
   }
   #grid .gutter.left.grid-5 {
        margin-left: 40.46666666666666%;
   }
   #grid .gutter.right.grid-5 {
        margin-left: 41.666666666666664%;
   }
   #grid .column.grid-5 {
        margin-left: 42.86666666666666%;
   }
   #grid .gutter.left.grid-6 {
        margin-left: 48.79999999999999%;
   }
   #grid .gutter.right.grid-6 {
        margin-left: 49.99999999999999%;
   }
   #grid .column.grid-6 {
        margin-left: 51.19999999999999%;
   }
   #grid .gutter.left.grid-7 {
        margin-left: 57.13333333333333%;
   }
   #grid .gutter.right.grid-7 {
        margin-left: 58.333333333333336%;
   }
   #grid .column.grid-7 {
        margin-left: 59.53333333333333%;
   }
   #grid .gutter.left.grid-8 {
        margin-left: 65.46666666666667%;
   }
   #grid .gutter.right.grid-8 {
        margin-left: 66.66666666666666%;
   }
   #grid .column.grid-8 {
        margin-left: 67.86666666666667%;
   }
   #grid .gutter.left.grid-9 {
        margin-left: 73.8%;
   }
   #grid .gutter.right.grid-9 {
        margin-left: 75%;
   }
   #grid .column.grid-9 {
        margin-left: 76.2%;
   }
   #grid .gutter.left.grid-10 {
        margin-left: 82.13333333333334%;
   }
   #grid .gutter.right.grid-10 {
        margin-left: 83.33333333333334%;
   }
   #grid .column.grid-10 {
        margin-left: 84.53333333333335%;
   }
   #grid .gutter.left.grid-11 {
        margin-left: 90.46666666666667%;
   }
   #grid .gutter.right.grid-11 {
        margin-left: 91.66666666666666%;
   }
   #grid .column.grid-11 {
        margin-left: 92.86666666666667%;
   }
   #grid .column {
        width: 5.933333333333334%;
   }
}
@media only screen and (min-width: 960px) {

   .primaryContainer {
   }
   #grid .column.grid-0 {
        margin-left: 1.2%;
   }
   #grid .gutter.left.grid-1 {
        margin-left: 7.133333333333332%;
   }
   #grid .gutter.right.grid-1 {
        margin-left: 8.333333333333332%;
   }
   #grid .column.grid-1 {
        margin-left: 9.533333333333331%;
   }
   #grid .gutter.left.grid-2 {
        margin-left: 15.466666666666665%;
   }
   #grid .gutter.right.grid-2 {
        margin-left: 16.666666666666664%;
   }
   #grid .column.grid-2 {
        margin-left: 17.866666666666664%;
   }
   #grid .gutter.left.grid-3 {
        margin-left: 23.8%;
   }
   #grid .gutter.right.grid-3 {
        margin-left: 25.000000000000007%;
   }
   #grid .column.grid-3 {
        margin-left: 26.2%;
   }
   #grid .gutter.left.grid-4 {
        margin-left: 32.13333333333333%;
   }
   #grid .gutter.right.grid-4 {
        margin-left: 33.33333333333333%;
   }
   #grid .column.grid-4 {
        margin-left: 34.53333333333333%;
   }
   #grid .gutter.left.grid-5 {
        margin-left: 40.46666666666666%;
   }
   #grid .gutter.right.grid-5 {
        margin-left: 41.666666666666664%;
   }
   #grid .column.grid-5 {
        margin-left: 42.86666666666666%;
   }
   #grid .gutter.left.grid-6 {
        margin-left: 48.79999999999999%;
   }
   #grid .gutter.right.grid-6 {
        margin-left: 49.99999999999999%;
   }
   #grid .column.grid-6 {
        margin-left: 51.19999999999999%;
   }
   #grid .gutter.left.grid-7 {
        margin-left: 57.13333333333333%;
   }
   #grid .gutter.right.grid-7 {
        margin-left: 58.333333333333336%;
   }
   #grid .column.grid-7 {
        margin-left: 59.53333333333333%;
   }
   #grid .gutter.left.grid-8 {
        margin-left: 65.46666666666667%;
   }
   #grid .gutter.right.grid-8 {
        margin-left: 66.66666666666666%;
   }
   #grid .column.grid-8 {
        margin-left: 67.86666666666667%;
   }
   #grid .gutter.left.grid-9 {
        margin-left: 73.8%;
   }
   #grid .gutter.right.grid-9 {
        margin-left: 75%;
   }
   #grid .column.grid-9 {
        margin-left: 76.2%;
   }
   #grid .gutter.left.grid-10 {
        margin-left: 82.13333333333334%;
   }
   #grid .gutter.right.grid-10 {
        margin-left: 83.33333333333334%;
   }
   #grid .column.grid-10 {
        margin-left: 84.53333333333335%;
   }
   #grid .gutter.left.grid-11 {
        margin-left: 90.46666666666667%;
   }
   #grid .gutter.right.grid-11 {
        margin-left: 91.66666666666666%;
   }
   #grid .column.grid-11 {
        margin-left: 92.86666666666667%;
   }
   #grid .column {
        width: 5.933333333333334%;
   }
}
@media only screen and (min-width: 1032px) {

   .primaryContainer {
   }
   #locatie {
        float: left;
        width: auto;
        height: auto;
        word-wrap: break-word;
        margin-left: 1.4156451366101637%;
        clear: both;
        min-height: 0px;
        margin-top: 0px;
   }
   #descriere {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        font-weight: normal;
        line-height: 1em;
        word-wrap: break-word;
        margin-left: 1.4411724700761697%;
        margin-top: 16px;
        clear: none;
        min-height: 0px;
   }
   #continut {
        clear: none;
        width: 83.320546237534%;
   }
   #imaginelocatie {
        float: left;
        clear: none;
        width: 100%;
        height: 200px;
   }
   #descrierebox {
        height: auto;
        margin-top: 0px;
        width: 100%;
        clear: both;
   }
   #textspan {
        float: none;
        font-size: 1em;
        line-height: 1em;
        color: rgb(255, 255, 255);
        display: inline;
   }
   #promotii1 {
        float: left;
        margin-left: 0%;
        clear: both;
        background-color: rgb(86, 63, 109);
   }
   #evenimente {
        width: 100%;
   }
   #evenimentetext {
   }
   #promotiitext {
        float: left;
        width: auto;
        height: auto;
        text-align: left;
        word-wrap: break-word;
        clear: none;
        min-height: 0px;
   }
}